
.icon-iva-cosmetic-mascara:before { content: '\e806'; } /* '' */
.icon-iva-cosmetic-lipstick:before { content: '\e807'; } /* '' */
.icon-iva-cosmetic-concealer:before { content: '\e808'; } /* '' */
.icon-iva-cosmetic-primer-vase:before { content: '\e809'; } /* '' */
.icon-iva-cosmetic-lotion-tube:before { content: '\e80a'; } /* '' */
.icon-iva-cosmetic-serum:before { content: '\e80b'; } /* '' */