
.icon-flower-cup-candle:before { content: '\e800'; } /* '' */
.icon-flask-pot-mug:before { content: '\e801'; } /* '' */
.icon-jar-tube-beautycare:before { content: '\e802'; } /* '' */
.icon-lotion-vase:before { content: '\e803'; } /* '' */
.icon-stickbottle-flower:before { content: '\e804'; } /* '' */
.icon-bamboo-tree-sticks:before { content: '\e805'; } /* '' */